.movie-list{
  &.dark{
    background-color: black;
    color: white;
  }
  &-movie{
    width: 70%;
    background-color: black;
    border-radius: 2%;
    margin: 20px 10px 10px 200px;
    background-repeat: no-repeat;
    background-size: 1000px 400px;
    min-height: 200px ;
    color: white;
    &.trailer{
     margin: 100px 100px 100px 100px;
      position: absolute;
    }
    &-poster{
      margin: 300px 200px 50px 10px;
    }
    &-content{
      text-align: right;
      margin: -350px 10px 10px 10px;
      &-stars{
        display: flex;
        justify-content: center;
        height: 50px;
        width: 200px;
      }
      &-block{
        text-align: right;
               &-overview{
          margin: 10px 10px 10px 10px;
        }
        &-video{
          margin: 10px 10px 10px 10px;
          text-align: left;
        }
      }
    }
    &-actor{
      margin: 0 auto;
      width: 800px;
      &-content{
        display: flex;
        justify-content: start;
        overflow-x: scroll;
      }
    }
  }
  &-filmography{
    margin: 10px 10px 10px 10px;
  }
}
th{
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
tr{
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
